<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <title>Charger Admin</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" crossorigin="anonymous">
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/jquery.cookie.js') }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {% block head %}
  {% endblock %}
</head>
<body>
  {% block contents %}
  {% endblock %}


  <!-- <script src="/static/script.js"></script> -->
  {% block script %}
  {% endblock %}
</body>
</html>