{% extends "base.html" %}
{% block head %}
<script>
    function cardregister() {
        $.ajax({
            url: "/api/v1/cards",
            contentType: "application/json",
            method: "POST",
            data: JSON.stringify({
                cardname: $("#cardname").val(),
                cardnumber: $("#cardnumber").val(),
                status: $("#cardstatus").val()
            }),
        }).done(function(res) {
            alert("Card is successfully created."); 
            window.location = "/";   
        });
    }
</script>
{% endblock %}
{% block contents %}
<div class="container">
    <div class="row mt-5">
        <h1>Charging Card Registration</h1>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <form>
                <div class="form-group">
                    <label for="cardname">Card Name</label>
                    <input type="text" id="cardname" class="form-control" placeholder="Card Name" name="cardname">
                </div>
                <div class="form-group">
                    <label for="cardnumber">Card Number</label>
                    <input type="text" id="cardnumber" class="form-control" placeholder="Card Number" name="cardnumber">
                </div>
                <div class="form-group">
                    <label for="cardstatus">Card Status</label>
                    <select id="cardstatus" class="form-control" name="cardstatus">
                        <!-- 기본 옵션 (선택되지 않은 상태) -->
                        <option value="" disabled selected>--- Select Card Status ---</option>
                        
                        <!-- 사용자가 선택할 수 있는 4가지 키워드 -->
                        <option value="Accepted">Accept</option>
                        <option value="Rejected">Reject</option>
                        <option value="Blocked">Block</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary mt-3" onclick="cardregister()">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}