{% extends "base.html" %}
{% block head %}
<script>
    function chpasswd() {
        $.ajax({
            url: "/api/v1/users",
            contentType: "application/json",
            method: "POST",
            data: JSON.stringify({
                password: $("#password").val(),
                new_password: $("#new_password").val(),
                re_password: $("#re_password").val()
            }),
            beforeSend: function(xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + $.cookie("access_token"));
            },
        }).done(function(res) {
            alert("Password is successfully changed."); 
            window.location = "/";   
        });
    }
</script>
{% endblock %}
{% block contents %}
<div class="container">
    <div class="row mt-5">
        <h1>Change Password</h1>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <form>
                <div class="form-group">
                    <label for="password">Current Password</label>
                    <input type="password" id="password" class="form-control" placeholder="Current Password" name="password">
                </div>
                <div class="form-group">
                    <label for="new_password">New Password</label>
                    <input type="password" id="new_password" class="form-control" placeholder="New Password" name="new_password">
                </div>
                <div class="form-group">
                    <label for="re_password">Confirm New Password</label>
                    <input type="password" id="re_password" class="form-control" placeholder="Confirm New Password" name="re_password">
                </div>
                <button type="button" class="btn btn-primary mt-3" onclick="chpasswd()">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}